#board button {
  background-size: 95%;
}

body {
  background: url(https://external-preview.redd.it/z8MWPJNeNsZruh4VnEuRKoLrvqOEaRgbsCvt-vwiC6Y.png?auto=webp&s=b3263147f78ba38e9dc8419cb27bc3f42fb08699);
  background-size: cover;
}

.btn-primary {
  background-color: rgba(255,255,255,0.1) !important;
  border-color: transparent;
}
